*{
    list-style-type: none;
}
.clear{
    background-color: rgb(177, 13, 13);
    width: 120px;
    height: 30px;
    float: right;
}
.todoItem{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 500px;
    height: 40px;
    border: 1px solid #656363;
}
