*{
    list-style-type: none;
}
.clear{
    background-color: rgb(240, 87, 87);
    width: 100px;
    height: 30px;
    border: 0;
    border-radius: 3px;
}
.todoItem{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 500px;
    height: 40px;
    border: 1px solid #656363;
}
